@import './variable.scss';

.liCard{
    .liCardHeader{
        // max-width: calc(100% - 112px);
        background-color: $whiteColor; 
        align-items: center;
    }
    .search{
        width: 40%;
        max-width: 350px;
    }
    .filterSection{
        display: flex;
        justify-content: space-between;
    }
}
.mw112{
    max-width: calc(100% - 112px);
}