$mainColor:#10375C;
$secondaryColor:#EB8317;
$lightSecondaryColor:#eb831763;
$whiteColor:#fff;
$darkColor:#000;
$lightBlueBgClr: #F4F9FD;
$lightBg: #DAE2F0;
$blueFont: #10375C;
$redColor: #E21334;
$greyColor: #ccc;
$successColor: #356B35;
$darkGreyColor: #727272;
$lightGreyColor: rgba(0, 0, 0, 0.08);
$borderColor: #dee2e6;
$menuColor: #F8F8F8;
$dividerColor: rgba(0, 0, 0, 0.12);
$lightGreyTextColor: #B0B0B0;
$bgBackdropColor: rgb(0 0 0 / 33%);
$contentFontSize: 14px;
$select-group-bg-color: #dee2e6;
$select-disabled-color: #bdbdbd;
$white-color-100:#B4B7BA;
$pdfBackgroundColor: #dbdbdb;